@use 'styles/functions';
@import 'styles/typography';
@import 'styles/media';
@import 'styles/mixins';

.root {
  background-color: var(--theme-dao-card-bg);
  box-sizing: border-box;
  display: flex;
  filter: var(--theme-dao-card-filter-shadow);
  flex-direction: column;
  position: relative;
  width: 100%;

  &.lg {
    padding: functions.calc-rem(32);
  }

  &.md,
  &.sm {
    padding: functions.calc-rem(40);
  }
}

.root {
  @include tablet-portrait {
    &.lg,
    &.md,
    &.sm {
      padding: functions.calc-rem(40);
    }
  }

  @include tablet-landscape {
    &.lg {
      flex-direction: row-reverse;
    }

    &.lg,
    &.md {
      padding: functions.calc-rem(40) functions.calc-rem(48);
    }

    &.sm {
      padding: functions.calc-rem(32) functions.calc-rem(40);
    }
  }
}

.corner {
  background-image: var(--theme-corner-grey);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: functions.calc-rem(35);
  left: 0;
  position: absolute;
  top: 0;
  width: functions.calc-rem(50);
  
  @include tablet-landscape {
    height: functions.calc-rem(56);
    width: functions.calc-rem(80);
  }
}

.content {
  display: flex;
  flex-direction: column;

  @include tablet-landscape {
    flex: 1;
  }
}

.imageWrapper {
  align-items: center;
  display: flex;
  height: functions.calc-rem(135);
  justify-content: center;
  width: 100%;

  @include tablet-landscape {
    &.lg {
      height: auto;
      margin-left: 40px;
      width: functions.calc-rem(376);
    }
  }

  &.md,
  &.sm {
    height: 65%;
    left: 50%;
    opacity: 0.05;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    z-index: 0;
  }
}

.image {
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
  width: 100%;
}

.title {
  @extend %heading-6;
  margin-bottom: 24px;
  @include desktop {
    @include heading-5;
  }

  &.lg {
    margin-top: functions.calc-rem(32);
    @include desktop {
      margin-top: 0;
    }
  }
}

.label {
  @extend %caption-2;
  color: var(--theme-dao-card-additional-text);

  @include tablet-portrait {
    @include caption-1;
  }
}

.value {
  @extend %title-6;
  color: var(--theme-text-color);

  @include tablet-portrait {
    @include title-4;
  }

  @include desktop {
    @include title-3;
  }

  &.lg {
    @extend %title-3;

    @include desktop {
      @include title-1;
    }
  }
}

.purpose {
  @extend %body-3;
  @include truncate-multiline(5);
  height: functions.calc-rem(120);
  margin-top: functions.calc-rem(4);


  @include tablet-portrait {
    @include body-2;
  }

  @include desktop {
    height: functions.calc-rem(100);
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: functions.calc-rem(24);
}

.container {
  margin-bottom: functions.calc-rem(24);
  width: 50%;

  &:last-child {
    margin-bottom: 0;
  }
}

.nameWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.tokenIcon {
  color: var(--theme-dao-card-token);
  margin-left: functions.calc-rem(4);
}

.numberOfProposal,
.bond,
.amountOfMember {
  @include desktop {
    &.lg,
    &.md {
      width: 33%;
    }
  }
}

.funds {
  &.md,
  &.lg {
    width: 100%;
  }
}

.button {
  margin-top: functions.calc-rem(32);

  &.lg {
    display: none;
  }
}
