@use 'styles/functions';
@use 'styles/mixins';
@import 'styles/typography';
@import 'styles/helpers';
@import 'styles/media';

.root {
  align-items: center;
  display: flex;
  height: 100vH;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vW;
  z-index: 100;
}

.overlay {
  @extend %button-reset;
  background-color: var(--theme-overlay);
  cursor: default;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.wrapper {
  background-color: var(--theme-popup-bg);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;

  @include desktop {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-height: functions.calc-rem(590);
    width: functions.calc-rem(476);
  }
}

.close {
  position: absolute;
  right: functions.calc-rem(16);
  top: functions.calc-rem(16);
}

.daoName {
  @extend %caption-1;
  padding: functions.calc-rem(24) functions.calc-rem(24) 0;

  @include tablet-portrait {
    padding: functions.calc-rem(40) functions.calc-rem(48) 0;
  }
}

.titleWrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin-top: functions.calc-rem(2);
  padding: 0 functions.calc-rem(24);

  @include tablet-portrait {
    padding: 0 functions.calc-rem(48);
  }
}

.title {
  @extend %heading-5;
}

.number {
  @extend %body-1;
  color: var(--theme-popup-number);
  margin-left: functions.calc-rem(8);
}

.border {
  background-color: var(--theme-popup-border);
  height: functions.calc-rem(1);
  margin-top: functions.calc-rem(16);
  width: 100%;
}

.membersWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  padding: functions.calc-rem(24) 0 functions.calc-rem(4);
}

.searchBar {
  padding: 0 functions.calc-rem(24);

  @include tablet-portrait {
    padding: 0 functions.calc-rem(48);
  }
}

.container {
  flex: 1;
  margin-top: 24px;
  overflow-y: scroll;
  padding: 0 functions.calc-rem(24);

  @include tablet-portrait {
    padding: 0 functions.calc-rem(48);
  }
}

.councilItem {
  @extend %body-2;
  color: var(--theme-poroposal-member-not-vote);
  display: flex;
  flex-direction: row;
  margin-bottom: functions.calc-rem(8);

  &:last-child {
    margin-bottom: 0;
  }

  &.vote {
    color: var(--theme-poroposal-member-vote);
  }
}

.rect {
  border: functions.calc-rem(6) solid;
  border-color: var(--color-grey-80) transparent transparent var(--color-grey-80);
  height: 0;
  width: 0;

  &.red {
    border-color: var(--theme-poroposal-member-corner-reject) transparent transparent var(--theme-poroposal-member-corner-reject);
  }

  &.green {
    border-color: var(--theme-poroposal-member-corner-approve) transparent transparent var(--theme-poroposal-member-corner-approve);
  }
}
