@use 'styles/mixins';
@use 'styles/functions';
@use 'styles/media';
@import 'styles/helpers';
@import 'styles/typography';

.root {
  @include mixins.container;

  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding-bottom: functions.calc-rem(14);
  padding-top: functions.calc-rem(14);
}

.logo {
  @extend %heading-6;
  @include mixins.button-reset;

  display: inline-block;
  justify-self: start;
  text-decoration: none;
  white-space: nowrap;
}

.logoIcon {
  height: functions.calc-rem(63);
  margin-bottom: functions.calc-rem(15);
  vertical-align: middle;
  width: auto;

  @include media.mobile-only {
    height: functions.calc-rem(32);
    margin-bottom: functions.calc-rem(5);
  }
}

.logoText {
  color: var(--textColor);
  display: inline-block;
  margin-bottom: functions.calc-rem(6);
  margin-left: functions.calc-rem(10);
  vertical-align: middle;

  @include media.mobile-only {
    display: none;
  }
}

.menu {
  display: none;
  list-style: none;
  white-space: nowrap;

  @include media.tablet-landscape {
    display: flex;
  }
}

.menuLink {
  @include mixins.button-reset;

  padding: functions.calc-rem(5) functions.calc-rem(12);
  position: relative;

  @include media.desktop {
    padding: functions.calc-rem(5) functions.calc-rem(24);
  }
}

.menuLinkActive {
  &::after {
    background: var(--color-purple-50);
    bottom: functions.calc-rem(-4);
    content: '';
    display: block;
    height: functions.calc-rem(4);
    left: functions.calc-rem(12);
    position: absolute;
    right: functions.calc-rem(12);

    @include media.desktop {
      left: functions.calc-rem(24);
      right: functions.calc-rem(24);
    }
  }
}

.mobileMenuButton {
  @extend %button-reset;

  display: flex;
  margin-left: -(functions.calc-rem(8));
  padding: functions.calc-rem(5);

  @include media.tablet-landscape {
    display: none;
  }
}
