@use "styles/functions" as *;
@import 'styles/typography.scss';

.root {
  --input-color: var(--inputText);
  --input-border-color: var(--color-grey-30);
  --input-border-width: 1px;
  width: 100%;
  position: relative;
  
}

.input {
  flex: 1;
  background-color: transparent;
  color: var(--input-color);
  @extend .body-2;
  
  border: none;
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.sm{
    @extend .body-2;
    height: calcRem(36);
    padding: calcRem(12) calcRem(6);
  }

  &.md{
    @extend .body-2;
    height: calcRem(48);
    padding: calcRem(12);
  }

  &.lg{
    @extend .body-1;
    height: calcRem(56);
    padding: calcRem(12) calcRem(14);
  }
}

.input.textarea {
  height: calcRem(111);
  padding: calcRem(12);
  resize: none;
}

.input::placeholder {
  color: var(--inputPlaceholder);
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  &:not(.withError):not(.disabled):hover:not(.focus) {
    --input-border-color: var(--inputHoverBorder);
    --input-border-width: 2px;
  }
}


.inputContainer {
  display: flex;
  position: relative;
  width: 100%;
}

.inputWrap {
  display: flex;
  align-items: center;
  flex: 1;
}

.leftElement {
  margin-right: calcRem(4);
  margin-left: calcRem(8);
}

.rightElement {
  margin-left: calcRem(4);
  margin-right: calcRem(17);
  display: flex;
  align-items: center;
}

.border {
  top: calcRem(-6);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: var(--input-border-width);
  border-radius: inherit;
  pointer-events: none;
  padding-left: calcRem(12);
  z-index: 0;
}

.legend {
  display: block;
  padding: 0;
  text-align: left;
  visibility: hidden;
  height: calcRem(12);
  max-width: 0;
  margin-left: calcRem(-6);
}

.legend span {
  display: block;
  padding: 0 calcRem(4);
  @extend .caption-2;
  line-height: calcRem(12);
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    font-size 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: var(--input-border-color);
  line-height: 1;

  &.sm{
    @extend .body-2;
    transform: translate(calcRem(16), calcRem(6));
  }

  &.md{
    @extend .body-2;
    transform: translate(calcRem(16), calcRem(12));
  }

  &.lg{
    @extend .body-1;
    transform: translate(calcRem(16), calcRem(14));
  }
}

.error {
  position: absolute;
  left: 0;
  top: 100%;
  color: var(--inputErrorBorder);
  display: flex;
  align-items: center;
  margin: calcRem(8) 0 0;
  @extend .caption-1;
}

.errorIcon {
  display: block;
  margin-right: calcRem(5);
  color: var(--inputErrorBorder);
  align-self: flex-start;
}

.withError {
  --input-border-color: var(--inputErrorBorder);
  --input-border-width: 2px;
}

.success{
  --input-border-color: var(--inputSucccessBorder);
}

.disabled {
  --input-border-color: var(--color-grey-60);
  --input-color: var(--color-grey-60);
}

.focus:not(.withError) {
  --input-border-color: var(--inputFocusBorder);
  --input-border-width: 2px;
}

.focus,
.filled {
  .label {
    @extend .caption-2;
    line-height: 1;
    transform: translate(calcRem(12),calcRem(-6));
  }

  .legend {
    max-width: 1000px;
  }
}

.helperText {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: calcRem(8);
  @extend .caption-1;
  color: var(--inputHelperText);
}

.length{
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: calcRem(8);
  @extend .caption-1;
  color: var(--input-border-color);
}
