@use 'styles/functions';
@import 'styles/typography';

.root {
  --input-color: var(--theme-input-text);
  --input-border-color: var(--theme-input-border);
  --input-border-width: 1px;

  position: relative;
  width: 100%;
}

.input {
  @extend %body-2;
  background-color: transparent;
  border: none;
  caret-color: var(--theme-input-focus-border);
  color: var(--input-color);
  flex: 1;
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &.sm {
    @extend %body-2;
    height: functions.calc-rem(36);
    padding: functions.calc-rem(6) functions.calc-rem(12);
  }

  &.md {
    @extend %body-2;
    height: functions.calc-rem(48);
    padding: functions.calc-rem(12);
  }

  &.lg {
    @extend %body-1;
    height: functions.calc-rem(56);
    padding: functions.calc-rem(14) functions.calc-rem(12);
  }
}

.input.textarea {
  height: functions.calc-rem(111);
  padding: functions.calc-rem(12);
  resize: none;
}

.input::placeholder {
  color: var(--theme-input-placeholder);
}

.container {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;

  &:not(.withError):not(.disabled):hover:not(.focus) {
    --input-border-color: var(--theme-input-hover-border);
    --input-border-width: 2px;
  }
}

.inputContainer {
  display: flex;
  position: relative;
  width: 100%;
}

.inputWrap {
  align-items: center;
  display: flex;
  flex: 1;
}

.leftElement {
  margin-left: functions.calc-rem(8);
  margin-right: functions.calc-rem(4);
}

.rightElement {
  align-items: center;
  display: flex;
  margin-left: functions.calc-rem(4);
  margin-right: functions.calc-rem(17);
}

.border {
  border: none;
  border-radius: inherit;
  bottom: 0;
  box-shadow: 0 0 0 var(--input-border-width) var(--input-border-color);
  left: 0;
  margin: 0;
  padding: 0;
  padding-left: functions.calc-rem(12);
  pointer-events: none;
  position: absolute;
  right: 0;
  top: functions.calc-rem(-6);
  transition: box-shadow 0.35s ease-in-out;

  z-index: 0;
}

.legend {
  display: block;
  height: functions.calc-rem(12);
  margin-left: functions.calc-rem(-6);
  max-width: 0;
  padding: 0;
  text-align: left;
  visibility: hidden;
}

.legend span {
  @extend %caption-2;
  display: block;
  line-height: functions.calc-rem(12);
  padding: 0 functions.calc-rem(4);
}

.label {
  color: var(--input-border-color);
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0;
  transform-origin: top left;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    font-size 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

  &.sm {
    @extend %body-2;
    transform: translate(functions.calc-rem(16), functions.calc-rem(6));
  }

  &.md {
    @extend %body-2;
    transform: translate(functions.calc-rem(16), functions.calc-rem(12));
  }

  &.lg {
    @extend %body-1;
    transform: translate(functions.calc-rem(16), functions.calc-rem(14));
  }
}

.error {
  @extend %caption-1;
  align-items: center;
  color: var(--theme-input-error-border);
  display: flex;
  left: 0;
  margin: functions.calc-rem(8) 0 0;
  position: absolute;
  top: 100%;
}

.errorIcon {
  align-self: flex-start;
  color: var(--theme-input-error-border);
  display: block;
  margin-right: functions.calc-rem(5);
}

.withError {
  --input-border-color: var(--theme-input-error-border);
  --input-border-width: 2px;
}

.success {
  --input-border-color: var(--theme-input-success-border);
}

.disabled {
  --input-border-color: var(--color-grey-60);
  --input-color: var(--color-grey-60);
}

.focus:not(.withError) {
  --input-border-color: var(--theme-input-focus-border);
  --input-border-width: 2px;
}

.focus,
.filled {
  .label {
    @extend %caption-2;
    line-height: 1;
    transform: translate(functions.calc-rem(12), functions.calc-rem(-6));
  }

  .legend {
    max-width: 1000px;
  }
}

.helperText {
  @extend %caption-1;
  color: var(--theme-input-helper-text);
  left: 0;
  margin-top: functions.calc-rem(8);
  position: absolute;
  top: 100%;
}

.length {
  @extend %caption-1;
  color: var(--input-border-color);
  margin-top: functions.calc-rem(8);
  position: absolute;
  right: 0;
  top: 100%;
}
