@use 'styles/functions';
@use 'styles/media';

@import 'styles/typography';

.root {
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

.proposalList {
  display: grid;
  flex: 1 1;
  gap: functions.calc-rem(32);
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr;
  min-height: 200px;
  position: relative;

  @include media.mobile-only {
    grid-template-columns: 1fr;
  }
}

.panel {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: functions.calc-rem(36) 0 functions.calc-rem(48);

  @include media.mobile-only {
    flex-direction: column;
  }
}

.filters {
  align-items: center;
  column-gap: functions.calc-rem(24);
  display: flex;
  flex-wrap: wrap;
  row-gap: functions.calc-rem(12);
}

.sort {
  width: functions.calc-rem(208);

  @include media.mobile-only {
    margin-top: functions.calc-rem(32);
    width: 100%;
  }
}

.emptyWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: functions.calc-rem(16);
  width: 100%;
  @include media.tablet-portrait {
    margin-top: functions.calc-rem(40);
  }
}

.emptyImage {
  background-image: var(--theme-empty-proposal);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: functions.calc-rem(203);
  width: functions.calc-rem(320);

  @include media.tablet-portrait {
    width: functions.calc-rem(380);
  }
}

.emptyText {
  @extend %title-5;
  margin-top: functions.calc-rem(30);
}

.loader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
