.root {
  align-items: stretch;
  background-color: var(--theme-primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

.header,
.footer {
  flex: 0 0 auto;
}

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.banner {
  align-items: center;
  background-color: var(--color-purple-50);
  color: #fff;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 100%;
}
