.root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--primaryBg);
}

.header,
.footer {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
}
