@use 'styles/functions';
@use 'styles/mixins';
@use 'styles/variables';
@use 'styles/media';
@import 'styles/typography';

.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: functions.calc-rem(64);
  padding-top: functions.calc-rem(56);

  @include media.mobile-only {
    padding-top: functions.calc-rem(40);
  }
}

.panel {
  @include mixins.narrow-container;

  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: functions.calc-rem(40);
  z-index: 2;

  @include media.mobile-only {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: functions.calc-rem(24);
  }
}

.view {
  align-self: center;
  column-gap: functions.calc-rem(24);
  display: grid;
  //grid-template-columns: auto auto;

  @include media.mobile-only {
    column-gap: functions.calc-rem(16);
    grid-template-columns: 1fr auto;
  }
}

.viewModes {
  column-gap: functions.calc-rem(4);
  display: grid;
  grid-template-columns: auto auto;
  justify-self: end;

  @include media.mobile-only {
    order: 2;
  }
}

.title {
  @extend %heading-3;

  color: var(--theme-text-color);
  display: inline-block;
  margin: 0;

  @include media.mobile-only {
    font-size: functions.calc-rem(24);
    line-height: functions.calc-rem(36);
  }
}

.number {
  @extend %body-1;

  color: var(--theme-select-dao-number);
  margin-left: functions.calc-rem(16);
}

.search {
  max-width: functions.calc-rem(364);

  @include media.mobile-only {
    overflow: hidden;
  }
}

.controls {
  @include mixins.narrow-container;

  column-gap: functions.calc-rem(32);
  display: flex;
  grid-template-columns: auto auto auto;
  margin-top: functions.calc-rem(40);
  position: relative;

  z-index: 2;
  @include media.mobile-only {
    column-gap: functions.calc-rem(16);
  }

  > * {
    flex: 1 1 auto;
  }
}

.slideButton {
  min-width: functions.calc-rem(180);
  width: 20%;

  @include media.mobile-only {
    flex: 0 0 auto;
    min-width: auto;
    width: auto;
  }
}

.leftArrowIcon {
  transform: rotate(90deg);
}

.rightArrowIcon {
  transform: rotate(-90deg);
}

.grid {
  @include mixins.narrow-container;

  display: grid;
  gap: functions.calc-rem(32);

  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr;

  @include media.mobile-only {
    grid-template-columns: auto;
  }
}

.carousel {
  display: flex;
  flex: 1;
  flex-direction: column;
  //margin: -100px 0;
  //overflow: hidden;
  width: 100vw;
  //align-content: center;
}

.carouselContainer {
  align-items: center;
  display: flex;
  //display: flex;
  flex: 1;
  //justify-content: center;
  margin: -100px 0;
}

.carouselList {
  height: 100%;
  width: 100%;
  //padding-bottom: functions.calc-rem(50);

  .card {

    height: functions.calc-rem(630);
    opacity: 0.5;
    transition: 0.3s;
    width: 100%;

    @include media.tablet-portrait {
      height: functions.calc-rem(670);
    }
    @include media.tablet-landscape {
      height: functions.calc-rem(422);
    }

  }

  .activeCard {
    opacity: 1;
  }

  .cardHolder {

    padding: 100px 0;
    width: calc(100vW - 48px);

    @include media.tablet-portrait {
      width: 70vW;
    }

    @include media.tablet-landscape {
      width: 80vW;
    }
    @include media.desktop {
      width: 70vW;
    }
  }
}

.hidden {
  display: none;
  opacity: 0;
  position: absolute;
  top: -10000px;
  z-index: -1;
}
