/* stylelint-disable max-nesting-depth */
@use 'styles/functions';
@import 'styles/typography';

.root {
  border-radius: 1px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  line-height: functions.calc-rem(24);
  outline: none;
  transition: all 0.2s;
  color: var(--theme-btn-text);
  background-color: var(--theme-primary-bg);

  // color && variant
  &[data-color='primary'] {
    background-color: var(--theme-btn-primary);
    border-color: var(--theme-btn-primary);

    &[data-variant='regular'] {
      &:hover {
        background-color: var(--theme-btn-primary-hover);
        border-color: var(--theme-btn-primary-hover);
      }

      &:active {
        background-color: var(--theme-btn-primary-active);
        border-color: var(--theme-btn-primary-active);
      }
    }

    &[data-variant='outline'] {
      border-color: var(--theme-btn-outline-border);

      &:hover {
        background-color: var(--theme-btn-outline-hover);
      }

      &:active {
        background-color: var(--theme-btn-outline-active);
      }
    }
  }

  &[data-color='danger'] {
    background-color: var(--theme-btn-danger);
    border-color: var(--theme-btn-danger);

    &[data-variant='regular'] {
      &:hover {
        background-color: var(--theme-btn-danger-hover);
        border-color: var(--theme-btn-danger-hover);
      }

      &:active {
        background-color: var(--theme-btn-danger-active);
        border-color: var(--theme-btn-danger-active);
      }
    }

    &[data-variant='outline'] {
      border-color: var(--theme-btn-danger-outline-border);

      &:hover {
        background-color: var(--theme-btn-danger-outline-hover);
      }

      &:active {
        background-color: var(--theme-btn-danger-outline-active);
      }
    }
  }

  &[data-variant='outline'],
  &[data-variant='monochrome'] {
    color: var(--theme-btn-text-outline);
    background-color: var(--theme-primary-bg);

    .leftElement,
    .rightElement {
      color: var(--theme-btn-text-secondary-color);

      svg {
        color: var(--theme-btn-text-outline);
      }
    }
  }

  &[data-variant='monochrome'] {
    border-color: var(--theme-btn-monochrome-border);

    &:hover {
      background-color: var(--theme-btn-monochrome-hover);
    }

    &:active {
      background-color: var(--theme-btn-monochrome-active);
    }
  }

  // size
  &[data-size='xs'] {
    @extend %title-6;
    padding: functions.calc-rem(2) functions.calc-rem(22);
  }

  &[data-size='sm'] {
    @extend %title-6;
    padding: functions.calc-rem(4) functions.calc-rem(22);
  }

  &[data-size='md'] {
    @extend %title-5;
    padding: functions.calc-rem(6) functions.calc-rem(22);
  }

  &[data-size='lg'] {
    @extend %title-5;
    padding: functions.calc-rem(10) functions.calc-rem(22);
  }
}

%text-style {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.content {
  @extend %text-style;
}

.leftElement,
.rightElement {
  @extend %text-style;
  @extend %body-2;
  display: inline-block;

  svg {
    display: inline-block;
    vertical-align: middle;
    color: var(--theme-btn-text);
  }
}

.leftElement svg {
  margin-right: functions.calc-rem(7);
}

.rightElement svg {
  margin-left: functions.calc-rem(7);
}
