/* stylelint-disable max-nesting-depth */
@use 'styles/functions';
@import 'styles/typography';

.root {
  border-radius: 1px;
  border-style: solid;
  border-width: 2px;
  color: var(--btnTextColor);
  cursor: pointer;
  line-height: functions.calc-rem(24);
  outline: none;
  transition: all 0.2s;

  // color && variant
  &[data-color='primary'] {
    background-color: var(--btnPrimary);
    border-color: var(--btnPrimary);

    &:hover {
      background-color: var(--btnPrimaryHover);
      border-color: var(--btnPrimaryHover);
    }

    &:active {
      background-color: var(--btnPrimaryActive);
      border-color: var(--btnPrimaryActive);
    }

    &[data-variant='outline'] {
      background-color: transparent;

      &:hover {
        background-color: var(--btnPrimaryHover);
        border-color: var(--btnPrimary);
      }

      &:active {
        background-color: var(--btnPrimaryActive);
        border-color: var(--btnPrimary);
      }
    }

    &[data-variant='monochrome'] {
      background-color: transparent;
      border-color: var(--btnMonochrome);

      &:hover {
        background-color: var(--btnMonochromeHover);
        border-color: var(--btnMonochrome);
      }

      &:active {
        background-color: var(--btnMonochrome);
        border-color: var(--btnMonochrome);
      }
    }
  }

  &[data-color='danger'] {
    background-color: var(--btnDanger);
    border-color: var(--btnDanger);

    &:hover {
      background-color: var(--btnDangerHover);
      border-color: var(--btnDangerHover);
    }

    &:active {
      background-color: var(--btnDangerActive);
      border-color: var(--btnDangerActive);
    }

    &[data-variant='outline'] {
      background-color: transparent;

      &:hover {
        background-color: var(--btnDangerHover);
        border-color: var(--btnDanger);
      }

      &:active {
        background-color: var(--btnDangerActive);
        border-color: var(--btnDanger);
      }
    }
  }

  // size
  &[data-size='xs'] {
    @extend %title-6;
    padding: functions.calcRem(2) functions.calcRem(22);
  }

  &[data-size='sm'] {
    @extend %title-6;
    padding: functions.calcRem(4) functions.calcRem(22);
  }

  &[data-size='md'] {
    @extend %title-5;
    padding: functions.calcRem(6) functions.calcRem(22);
  }

  &[data-size='lg'] {
    @extend %title-5;
    padding: functions.calcRem(10) functions.calcRem(22);
  }

  &[data-variant='outline'],
  &[data-variant='monochrome'] {
    .leftElement,
    .rightElement {
      color: var(--btnTextGrey);

      svg {
        color: var(--white);
      }
    }
  }
}

%text-style {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.content {
  @extend %text-style;
}

.leftElement,
.rightElement {
  @extend %text-style;
  display: inline-block;

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.leftElement svg {
  margin-right: functions.calcRem(7);
}

.rightElement svg {
  margin-left: functions.calcRem(7);
}
