/* stylelint-disable max-nesting-depth */
@use 'styles/functions';

.icon {
  display: block;
}

.button {
  &[data-size='xs'] {
    padding: functions.calc-rem(5);

    .icon {
      height: functions.calc-rem(18);
      width: functions.calc-rem(18);
    }
  }

  &[data-size='sm'] {
    padding: functions.calc-rem(7);

    .icon {
      height: functions.calc-rem(18);
      width: functions.calc-rem(18);
    }
  }

  &[data-size='md'] {
    padding: functions.calc-rem(6);

    .icon {
      height: functions.calc-rem(24);
      width: functions.calc-rem(24);
    }
  }

  &[data-size='lg'] {
    padding: functions.calc-rem(10);

    .icon {
      height: functions.calc-rem(24);
      width: functions.calc-rem(24);
    }
  }
}
