$base-font-size: 16;

$main-font: aileron, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, Helvetica,
  sans-serif;
$secondary-font: furore, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, Helvetica,
  sans-serif;

:root {

  --color-brand-black: #161515;

  --color-grey-10: #e8e8e8;
  --color-grey-20: #dcdcdc;
  --color-grey-30: #c5c5c5;
  --color-grey-40: #adadad;
  --color-grey-50: #969696;
  --color-grey-60: #7f7e7e;
  --color-grey-70: #686767;
  --color-grey-80: #505050;
  --color-grey-90: #393838;
  --color-grey-100: #222121;

  --color-error-10: #fcc;
  --color-error-20: #f99;
  --color-error-30: #f66;
  --color-error-40: #f33;
  --color-error-50: #f00;
  --color-error-60: #c00;
  --color-error-70: #900;
  --color-error-80: #600;
  --color-error-90: #300;

  --color-warning-10: #fff2cc;
  --color-warning-20: #ffe699;
  --color-warning-30: #ffd966;
  --color-warning-40: #ffcd33;
  --color-warning-50: #ffc000;
  --color-warning-60: #cc9a00;
  --color-warning-70: #cc9a00;
  --color-warning-80: #664d00;
  --color-warning-90: #332600;

  --color-success-10: #dfffcc;
  --color-success-20: #c0ff99;
  --color-success-30: #a0ff66;
  --color-success-40: #81ff33;
  --color-success-50: #61ff00;
  --color-success-60: #4ecc00;
  --color-success-70: #3a9900;
  --color-success-80: #276600;
  --color-success-90: #133300;

  --color-pink-10: #ffcce3;
  --color-pink-20: #ff99c8;
  --color-pink-30: #ff66ac;
  --color-pink-40: #ff3391;
  --color-pink-50: #ff0075;
  --color-pink-60: #cc005e;
  --color-pink-70: #990046;
  --color-pink-80: #66002f;
  --color-pink-90: #330017;

  --color-magenta-10: #ffccf8;
  --color-magenta-20: #ff99f0;
  --color-magenta-30: #ff66e9;
  --color-magenta-40: #ff33e1;
  --color-magenta-50: #ff00da;
  --color-magenta-60: #cc00ae;
  --color-magenta-70: #990083;
  --color-magenta-80: #660057;
  --color-magenta-90: #33002c;

  --color-purple-10: #e4ccff;
  --color-purple-20: #c899ff;
  --color-purple-30: #ad66ff;
  --color-purple-40: #9133ff;
  --color-purple-50: #7600ff;
  --color-purple-60: #5e00cc;
  --color-purple-70: #470099;
  --color-purple-80: #2f0066;
  --color-purple-90: #180033;

  --color-blue-10: #cfccff;
  --color-blue-20: #9f99ff;
  --color-blue-30: #6e66ff;
  --color-blue-40: #3e33ff;
  --color-blue-50: #0e00ff;
  --color-blue-60: #0b00cc;
  --color-blue-70: #080099;
  --color-blue-80: #060066;
  --color-blue-90: #030033;

  --color-cyan-10: #ccf9ff;
  --color-cyan-20: #99f4ff;
  --color-cyan-30: #67eefe;
  --color-cyan-40: #34e9fe;
  --color-cyan-50: #01e3fe;
  --color-cyan-60: #01b6cb;
  --color-cyan-70: #018898;
  --color-cyan-80: #005b66;
  --color-cyan-90: #002d33;

  --white: #fff;
  --black: #000;

  // UILib

  --btnTextColor: var(--white);
  --btnPrimary: var(--color-purple-50);
  --btnPrimaryHover: var(--color-purple-80);
  --btnPrimaryActive: var(--color-purple-70);
  --btnMonochrome: var(--color-grey-90);
  --btnTextGrey: var(--color-grey-80);
  --btnMonochromeHover: var(--color-grey-100);
  --btnDanger: var(--color-error-60);
  --btnDangerHover: var(--color-error-80);
  --btnDangerActive: var(--color-error-70);
}
