// Furore

@font-face {
  font-family: 'furore';
  src: url('../fonts/furore/Furore-webfont.eot');
  src: url('../fonts/furore/Furore-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/furore/Furore-webfont.woff') format('woff'),
       url('../fonts/furore/Furore-webfont.ttf') format('truetype'),
       url('../fonts/furore/Furore-webfont.svg#furoreregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Aileron

@font-face {
  font-family: 'aileron';
  src: url('../fonts/aileron/regular/Aileron-Regular-webfont.eot');
  src: url('../fonts/aileron/regular/Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/regular/Aileron-Regular-webfont.woff') format('woff'),
       url('../fonts/aileron/regular/Aileron-Regular-webfont.ttf') format('truetype'),
       url('../fonts/aileron/regular/Aileron-Regular-webfont.svg#furoreregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
