@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
      url('#{$file-path}.woff') format('woff'),
      url('#{$file-path}.ttf') format('truetype');
  }
}

@include font-face(furore, '../fonts/furore/Furore-webfont', 400);

@include font-face(
  aileron,
  '../fonts/aileron/regular/Aileron-Regular-webfont',
  400
);
@include font-face(
  aileron,
  '../fonts/aileron/semibold/Aileron-SemiBold-webfont',
  600
);
