@use "variables";
@import "fonts";
@import "typography";

html {
  box-sizing: border-box;
  font-size: #{variables.$base-font-size}px;
}

body {
  font-family: variables.$mainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
}

// theme

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 750ms;
  transition-delay: 0;
}
