#themed {
  &[data-theme='dark'] {
    --primaryBg: var(--color-brand-black);
    --primaryBorder: var(--color-grey-90);
    --logoMajorLine: var(--white);
    --logoMinorLine: var(--color-grey-50);

    --textColor: var(--white);
  }

  &[data-theme='light'] {
    --primaryBg: var(--color-grey-05);
    --primaryBorder: var(--color-grey-30);
    --logoMajorLine: var(--color-brand-black);
    --logoMinorLine: var(--color-grey-70);

    --textColor: var(--black);
  }
}
