#themed {
  &[data-theme='dark'] {
    --theme-text-color: var(--white);

    --theme-primary-bg: var(--color-brand-black);
    --theme-primary-border: var(--color-grey-90);
    --theme-logo-major-line: var(--white);
    --theme-logo-minor-line: var(--color-grey-50);

    --theme-input-text: #fff;
    --theme-input-placeholder: var(--color-grey-70);
    --theme-input-border: var(--color-grey-90);
    --theme-input-hover-border: #fff;
    --theme-input-focus-border: var(--color-purple-50);
    --theme-input-success-border: var(--color-success-50);
    --theme-input-error-border: var(--color-error-40);
    --theme-input-helper-text: var(--color-grey-50);

    --theme-btn-text: var(--white);
    --theme-btn-text-outline: var(--white);
    --theme-btn-text-secondary-color: var(--color-grey-80);
    --theme-btn-primary: var(--color-purple-50);
    --theme-btn-primary-hover: var(--color-purple-80);
    --theme-btn-primary-active: var(--color-purple-70);
    --theme-btn-outline-hover: var(--color-purple-80);
    --theme-btn-outline-active: var(--color-purple-70);
    --theme-btn-outline-border: var(--color-purple-50);
    --theme-btn-text-grey: var(--color-grey-80);
    --theme-btn-monochrome-hover: var(--color-grey-100);
    --theme-btn-monochrome-active: var(--color-grey-90);
    --theme-btn-monochrome-border: var(--color-grey-90);
    --theme-btn-danger: var(--color-error-60);
    --theme-btn-danger-hover: var(--color-error-80);
    --theme-btn-danger-active: var(--color-error-70);
    --theme-btn-danger-outline-hover: var(--color-error-80);
    --theme-btn-danger-outline-active: var(--color-error-70);
    --theme-btn-danger-outline-border: var(--color-error-60);

    --theme-dd-bg: var(--color-grey-100);
    --theme-step-progress-border: var(--color-grey-70);
    --theme-step-progress-bg-active: var(--color-cyan-80);
    --theme-step-progress-border-active: var(--color-cyan-50);
    --theme-step-color: var(--color-grey-50);

    --theme-nav-tab-hover: var(--color-purple-50);
    --theme-nav-tab-selected: var(--color-purple-70);

    --theme-overlay: rgba(22, 21, 21, 0.8);
    --theme-popup-bg: var(--color-grey-100);
    --theme-popup-border: var(--color-grey-90);
    --theme-popup-number: var(--color-grey-50);
    --theme-popup-member: var(--color-cyan-50);

    --theme-autocomplete-bg: var(--color-grey-100);
    --theme-autocomplete-shadow: 0 16px 40px rgba(0, 0, 0, 0.64);
    --theme-autocomplete-title: var(--color-grey-50);
    --theme-autocomplete-link: var(--color-cyan-50);
    --theme-autocomplete-border: var(--color-grey-90);
    --theme-autocomplete-hover-item-bg: var(--color-grey-80);

    --theme-status-delayed: var(--color-warning-50);
    --theme-status-approved: var(--color-success-50);
    --theme-status-rejected: var(--color-error-50);
    --theme-status-in-progress: var(--color-pink-50);

    --theme-proposal-card-bg: var(--color-grey-100);
    --theme-proposal-card-filter-shadow: drop-shadow(0 16px 40px rgba(0, 0, 0, 0.64));
    --theme-proposal-card-edditional-text: var(--color-grey-50);
    --theme-proposal-card-dao-name: var(--color-cyan-50);

    --theme-dao-card-mini-bg: var(--color-grey-100);
    --theme-dao-card-mini-active-filter: drop-shadow(0 16px 40px rgba(0, 0, 0, 0.64));
    
    --theme-chip-icon: var(--color-grey-80);
    --theme-chip-icon-hover-default: var(--color-cyan-20);
    --theme-chip-icon-active-default: var(--color-cyan-50);
    --theme-chip-icon-hover-warning: var(--color-warning-20);
    --theme-chip-icon-active-warning: var(--color-warning-50);
    --theme-chip-icon-hover-success: var(--color-success-20);
    --theme-chip-icon-active-success: var(--color-success-50);
    --theme-chip-icon-hover-error: var(--color-error-20);
    --theme-chip-icon-active-error: var(--color-error-50);
    --theme-chip-icon-hover-in-progress: var(--color-pink-20);
    --theme-chip-icon-active-in-progress: var(--color-pink-50);

    --theme-tooltip-bg: var(--color-grey-90);
    --theme-tooltip-filter: drop-shadow(0 16px 40px rgba(0, 0, 0, 0.64));
  }

  &[data-theme='light'] {
    --theme-text-color: var(--color-brand-black);

    --theme-primary-bg: var(--white);
    --theme-primary-border: var(--color-grey-30);
    --theme-logo-major-line: var(--color-brand-black);
    --theme-logo-minor-line: var(--color-grey-70);

    --theme-input-text: var(--color-brand-black);
    --theme-input-placeholder: var(--color-grey-70);
    --theme-input-border: var(--color-grey-30);
    --theme-input-hover-border: var(--color-brand-black);
    --theme-input-focus-border: var(--color-purple-60);
    --theme-input-success-border: var(--color-success-80);
    --theme-input-error-border: var(--color-error-60);
    --theme-input-helper-text: var(--color-grey-70);

    --theme-btn-text: var(--white);
    --theme-btn-text-outline: var(--color-brand-black);
    --theme-btn-text-secondary-color: var(--color-grey-80); //!check
    --theme-btn-primary: var(--color-purple-60);
    --theme-btn-primary-hover: var(--color-purple-80);
    --theme-btn-primary-active: var(--color-purple-70);
    --theme-btn-outline-hover: var(--color-purple-20);
    --theme-btn-outline-active: var(--color-purple-10);
    --theme-btn-outline-border: var(--color-purple-60);
    --theme-btn-monochrome-hover: var(--color-grey-20);
    --theme-btn-monochrome-active: var(--color-grey-10);
    --theme-btn-monochrome-border: var(--color-grey-30);
    --theme-btn-danger: var(--color-error-60);
    --theme-btn-danger-hover: var(--color-error-80);
    --theme-btn-danger-active: var(--color-error-70);
    --theme-btn-danger-outline-hover: var(--color-error-20);
    --theme-btn-danger-outline-active: var(--color-error-10);
    --theme-btn-danger-outline-border: var(--color-error-60);

    --theme-dd-bg: var(--white);
    --theme-step-progress-border: var(--color-grey-30);
    --theme-step-progress-bg-active: var(--color-grey-10);
    --theme-step-progress-border-active: var(--color-cyan-60);
    --theme-step-color: var(--color-grey-70);

    --theme-nav-tab-hover: var(--color-purple-20);
    --theme-nav-tab-selected: var(--color-purple-50);

    --theme-overlay: rgba(22, 21, 21, 0.4);
    --theme-popup-bg: var(--white);
    --theme-popup-border: var(--color-grey-20);
    --theme-popup-number: var(--color-grey-70);
    --theme-popup-member: var(--color-cyan-70);

    --theme-autocomplete-bg: var(--white);
    --theme-autocomplete-shadow: 0 16px 40px rgba(22, 21, 21, 0.15);
    --theme-autocomplete-title: var(--color-grey-70);
    --theme-autocomplete-link: var(--color-cyan-70);
    --theme-autocomplete-border: var(--color-grey-20);
    --theme-autocomplete-hover-item-bg: var(--color-grey-10);

    --theme-status-delayed: var(--color-warning-60);
    --theme-status-approved: var(--color-success-70);
    --theme-status-rejected: var(--color-error-60);
    --theme-status-in-progress: var(--color-pink-60);

    --theme-proposal-card-bg: var(--white);
    --theme-proposal-card-filter-shadow: drop-shadow(0 16px 40px rgba(22, 21, 21, 0.15));
    --theme-proposal-card-edditional-text: var(--color-grey-70);
    --theme-proposal-card-dao-name: var(--color-cyan-70);

    --theme-dao-card-mini-bg: var(--color-grey-10);
    --theme-dao-card-mini-active-filter: drop-shadow(0 16px 40px rgba(22, 21, 21, 0.15));

    --theme-chip-icon: var(--color-grey-20);
    --theme-chip-icon-hover-default: var(--color-cyan-30);
    --theme-chip-icon-active-default: var(--color-cyan-70);
    --theme-chip-icon-hover-warning: var(--color-warning-30);
    --theme-chip-icon-active-warning: var(--color-warning-70);
    --theme-chip-icon-hover-success: var(--color-success-30);
    --theme-chip-icon-active-success: var(--color-success-70);
    --theme-chip-icon-hover-error: var(--color-error-30);
    --theme-chip-icon-active-error: var(--color-error-70);
    --theme-chip-icon-hover-in-progress: var(--color-pink-30);
    --theme-chip-icon-active-in-progress: var(--color-pink-70);
    
    --theme-tooltip-bg: var(--white);
    --theme-tooltip-filter: drop-shadow(0 16px 40px rgba(22, 21, 21, 0.15));
  }
}
