@use 'styles/mixins';
@use 'styles/media';
@use 'styles/functions';
@import 'styles/typography';

.root {
  background-color: var(--theme-proposal-card-bg);
  cursor: pointer;
  display: flex;
  filter: var(--theme-proposal-card-filter-shadow);
  flex-direction: column;
  overflow: hidden;
  padding: functions.calc-rem(32);
  position: relative;
  position: relative;
  text-decoration: none;
  width: auto;

  @include media.tablet-portrait {
    padding: functions.calc-rem(40);
  }

  @include media.desktop {
    padding: functions.calc-rem(48);
  }
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  pointer-events: none;
  z-index: 1;
}

.corner {
  height: functions.calc-rem(35);

  left: 0;
  position: absolute;
  top: 0;

  width: functions.calc-rem(50);

  @include media.tablet-landscape {
    height: functions.calc-rem(56);
    width: functions.calc-rem(80);
  }
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: functions.calc-rem(24);
}

.statusText {
  @extend %title-7;

  @include media.desktop {
    @include title-6;
  }

  &.delayed {
    color: var(--theme-status-delayed);
  }

  &.inProgress {
    color: var(--theme-status-delayed);
  }

  &.rejected {
    color: var(--theme-status-rejected);
  }

  &.fail {
    color: var(--theme-status-in-progress);
  }

  &.approved {
    color: var(--theme-status-approved);
  }
}

.name {
  @extend %body-3;
  color: var(--theme-proposal-card-additional-text);
  @include media.desktop {
    @include body-3;
  }
}

.value {
  @extend %title-7;
  @include mixins.truncate;
  color: var(--theme-text-color);

  @include media.desktop {
    @include title-6;
  }
}

.daoName {
  @extend %caption-2;
  color: var(--theme-proposal-card-dao-name);

  @include media.desktop {
    @include caption-1;
  }
}

.title {
  @extend %title-5;

  @include media.desktop {
    @include title-3;
  }
}

.target {
  @include mixins.truncate();
  margin-top: functions.calc-rem(4);
}

.aboutWrapper {
  margin-top: functions.calc-rem(24);

  @include media.desktop {
    margin-top: functions.calc-rem(32);
  }

  a {
    pointer-events: all;
  }
}

.aboutText {
  @extend %body-3;
  @include mixins.truncate-multiline(5);
  word-break: break-all;

  @include media.desktop {
    @include body-2;
  }
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: functions.calc-rem(24);
}

.root.sm,
.root.md {
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}

.payoutWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: functions.calc-rem(24);
  width: functions.calc-rem(100);
}

.payoutName {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.tokenIcon {
  //color: var(--theme-proposal-card-dao-name);
  margin-left: functions.calc-rem(4);
}

.proposerWrapper {
  margin-bottom: functions.calc-rem(24);
  width: functions.calc-rem(260);
}

.buttonWrapper {
  align-items: center;
  column-gap: functions.calc-rem(24);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: functions.calc-rem(16);
  pointer-events: none;
  row-gap: functions.calc-rem(12);
  z-index: 1;

  @include media.mobile-only {
    column-gap: functions.calc-rem(16);
  }

  .button:not(:disabled) {
    pointer-events: all;
  }
}

.button {
  flex: 1;

  &:last-child {
    margin-right: 0;
  }
}

.buttonTextCount {
  @extend %body-1;
  color: var(--theme-proposal-card-additional-text);
}

.proposalLink {
  @include mixins.truncate();
  display: block;
  width: 100%;
}


.voteDetailsWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.voteStatusWrapper {
  align-items: center;
  border: solid 1px var(--theme-proposal-card-additional-text);
  display: flex;
  flex-direction: row;
  margin-right: functions.calc-rem(15);
  padding: functions.calc-rem(6) functions.calc-rem(9) functions.calc-rem(6) functions.calc-rem(14);
}

.border {
  background-color: var(--theme-proposal-card-additional-text);
  height: functions.calc-rem(24);
  margin: 0 functions.calc-rem(18);
  width: functions.calc-rem(1);
}

.voteStatus {
  @extend %title-7;
}

.showDesktop {
  display: none;
  @include media.tablet-landscape {
    display: block;
  }
}

.hideDesktop {
  @include media.tablet-landscape {
    display: none;
  }
}

.bigDeclineIcon {
  color: var(--theme-proposal-decline-icon-big);
  margin-left: functions.calc-rem(10);
}

.bigAcceptIcon {
  color: var(--theme-proposal-accept-icon-big);
  margin-left: functions.calc-rem(10);
}

.smallDeclineIcon {
  color: var(--theme-proposal-decline-icon-small);
}

.smallAcceptIcon {
  color: var(--theme-proposal-accept-icon-small);
}
