@use 'styles/functions';
@use 'styles/variables';

.root {
  align-items: stretch;
  background-color: var(--primaryBg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

.header,
.footer {
  flex: 0 0 auto;
}

.content {
  background-color: var(--primaryBg);
  flex: 1 1 auto;
}

.logo {
  display: inline-block;
  font-family: variables.$secondary-font;
  text-decoration: none;
}

.logoIcon {
  height: functions.calc-rem(63);
  vertical-align: middle;
}

.logoText {
  color: var(--textColor);
  display: inline-block;
  margin-left: functions.calc-rem(10);
  margin-top: functions.calc-rem(6);
  vertical-align: middle;
}
