@use 'styles/functions';
@use 'styles/variables';
@use 'styles/media';

/* stylelint-disable function-parentheses-space-inside */

.root {
  --gradient-grey: var(--landing-gradient-light);
  --gradient-dark-grey: var(--landing-gradient-dark);
  --gradient-black: var(--black);

  align-items: stretch;
  background-color: var(--theme-primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

.background {
  background: url('../../images/stars-background.svg') no-repeat,
    linear-gradient(
      212.5deg,
      var(--gradient-grey) 1.85%,
      var(--gradient-dark-grey) 49.7%,
      var(--gradient-black) 100%
    );
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  position: relative;
}

.logo {
  display: inline-block;
  font-family: variables.$secondary-font;
  text-decoration: none;
}

.logoIcon {
  height: functions.calc-rem(63);
  vertical-align: middle;
}

.logoText {
  display: inline-block;
  margin-left: functions.calc-rem(10);
  margin-top: functions.calc-rem(6);
  vertical-align: middle;
}

.footer {
  @include media.mobile-only {
    display: none;
  }
}
