@use 'styles/theme';
@use 'styles/functions';
@use 'styles/mixins';
@use 'styles/media';
@import 'styles/typography';
@import 'styles/helpers';

.root {
  --text-color: var(--white);

  align-items: stretch;
  background: var(--theme-primary-bg);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;

  @include media.tablet-landscape {
    display: none;
  }
}

.header {
  @include mixins.container;

  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  padding-bottom: functions.calc-rem(14);
  padding-top: functions.calc-rem(14);
}

.closeButton {
  @extend %button-reset;

  display: block;
  margin-left: -(functions.calc-rem(8));
  padding: functions.calc-rem(5);
}

.closeIcon {
  display: block;
}

.logo {
  fill: var(--text-color);
  height: 100%;
  max-height: functions.calc-rem(40);
  max-width: functions.calc-rem(110);
  width: 100%;
}

.content {
  @include mixins.container;

  flex: 1 1 auto;
}

.menu {
  list-style: none;
}

.menuLink {
  @extend %title-5;
  @include mixins.button-reset;

  line-height: functions.calc-rem(48);
  position: relative;
}

.menuLinkActive {
  &::after {
    background: var(--color-purple-50);
    bottom: functions.calc-rem(3);
    content: '';
    display: block;
    height: functions.calc-rem(4);
    position: absolute;
    width: 100%;
  }
}

.connectButton {
  margin-top: functions.calc-rem(28);
  width: 100%;
}

.footer {
  flex: 0 0 auto;
}
