@use '../../styles/functions';
@use '../../styles/mixins';

.root {
  background-color: var(--theme-primary-bg);
  border-bottom: functions.calc-rem(1) solid var(--theme-primary-border);
}

.container {
  @include mixins.container;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 7.9375rem;
}

.search {
  flex: 1;
}
