@use '../../styles/functions';
@use '../../styles/mixins';

.root {
  background-color: var(--theme-primary-bg);
  border-bottom: functions.calc-rem(1) solid var(--theme-primary-border);
}

.container {
  @include mixins.container;
}

.logo {
  width: 7.9375rem;
}
