@use 'styles/functions';
@import 'styles/helpers';
@import 'styles/typography';

.root {
  --main-color: var(--theme-input-border);
  display: block;
  position: relative;
  width: 100%;
}

.border {
  border: solid functions.calc-rem(1) var(--main-color);
  border-radius: functions.calc-rem(1);
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0 0 0 functions.calc-rem(12);
  position: absolute;
  right: 0;
  top: functions.calc-rem(-6);
  z-index: 0;

  &:hover {
    --main-color: var(--theme-input-hover-border);
    border-width: functions.calc-rem(2);
  }

  &.focus {
    --main-color: var(--theme-input-focus-border);
    border-width: functions.calc-rem(2);
  }
}

.label {
  @extend %body-2;
  color: var(--main-color);
  left: 0;
  line-height: 1;
  margin: 0;
  position: absolute;
  text-transform: capitalize;
  top: 0;
  transform-origin: top left;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    font-size 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

  &.sm {
    transform: translate(functions.calc-rem(16), functions.calc-rem(12));
  }

  &.md {
    transform: translate(functions.calc-rem(16), functions.calc-rem(14));
  }

  &.lg {
    transform: translate(functions.calc-rem(16), functions.calc-rem(17));
  }

  &.top {
    @extend %caption-2;
    line-height: 1;
    transform: translate(functions.calc-rem(18), functions.calc-rem(-6));
  }
}

.header:hover {
  .label {
    color: var(--theme-input-hover-border);
  }
}

.header.open {
  .label {
    color: var(--theme-input-focus-border);
  }
}

.legend {
  @extend %caption-2;
  display: block;
  height: functions.calc-rem(12);
  max-width: 0;
  padding: 0 functions.calc-rem(12) 0 0;
  text-align: left;
  visibility: hidden;

  &.visible {
    max-width: functions.calc-rem(1000);
  }
}

.arrowWrap {
  display: flex;
  position: absolute;
  right: functions.calc-rem(12);
  top: 50%;
  transform: translate(0, -50%);
}

.arrowIcon {
  color: var(--theme-input-focus-border);

  &.open {
    transform: rotate(180deg);
  }
}

.root:hover {
  .arrowIcon:not(.open) {
    color: var(--color-cyan-50);
  }
}

.header {
  @extend %button-reset;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: functions.calc-rem(12);
  position: relative;
  width: 100%;

  &.sm {
    height: functions.calc-rem(36);
  }

  &.md {
    height: functions.calc-rem(40);
  }

  &.lg {
    height: functions.calc-rem(48);
  }
}

.value {
  @extend %body-2;
  color: var(--theme-input-text);
  left: 0;
  margin: 0;
  padding-left: functions.calc-rem(12);
  position: absolute;
  text-align: start;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.dropdownWrapper {
  background-color: var(--theme-primary-bg);
  border-radius: functions.calc-rem(1);
  bottom: functions.calc-rem(-8);
  box-shadow: 0 functions.calc-rem(4) functions.calc-rem(16) rgba(0, 0, 0, 0.15);
  padding: functions.calc-rem(16) 0;
  position: absolute;
  transform: translate(0, 100%);
  width: 100%;
  z-index: 2;
}

.item {
  @extend %button-reset;
  align-items: center;
  display: flex;
  padding: functions.calc-rem(6) functions.calc-rem(24);
  width: 100%;

  &:hover {
    background-color: var(--theme-input-border);
  }
}

.itemText {
  @extend %body-2;
  color: var(--theme-input-text);

  &.active {
    @extend %title-6;
  }
}
