@import 'styles/typography';

.root {
  display: block;
  height: 129px;
  position: relative;
  width: 129px;
}

.center {
  background-color: var(--theme-text-color);
  border-radius: 50%;
  height: 24px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
}

.image {
  animation-direction: alternate, normal;
  animation-duration: 1.5s, 1.5s; // TODO: calibration required
  animation-iteration-count: infinite;
  animation-name: resize, rotate;
  animation-timing-function: ease-in-out, linear;
  color: var(--theme-text-color);
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 100%;
}

@keyframes resize {
  from {
    height: 100%;
    width: 100%;
  }

  to {
    height: 10%;
    width: 10%;
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
