@use 'styles/mixins';
@use 'styles/functions';
@use 'styles/media';
@import 'styles/typography';

.root {
  --text-secondary-color: var(--color-grey-50);
  --border-color: var(--color-grey-100);

  @include mixins.container;

  column-gap: functions.calc-rem(10);
  display: grid;
  flex: 0 0 auto;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding-bottom: functions.calc-rem(38);
  padding-top: functions.calc-rem(32);
  row-gap: functions.calc-rem(26);

  @include media.mobile-only {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
  }

  &::after {
    @include media.mobile-only {
      border-top: 1px solid var(--border-color);
      content: '';
      display: block;
    }
  }
}

.socialMedia {
  align-items: center;
  display: flex;

  @include media.mobile-only {
    justify-content: space-between;
    order: 2;
  }
}

.form {
  align-items: center;
  border: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  @include media.mobile-only {
    align-items: stretch;
    flex-direction: column;
    order: 1;
  }
}

.formLabel {
  @extend %title-6;

  color: var(--text-secondary-color);
  flex: 0 0 auto;
  font-size: functions.calc-rem(14);
  line-height: functions.calc-rem(24);
}

.formInput {
  display: inline-block;
  flex: 1 1 auto;
  margin: 0 functions.calc-rem(16);
  max-width: functions.calc-rem(300);

  @include media.mobile-only {
    margin: functions.calc-rem(16) 0;
    max-width: initial;
  }
}

.formButton {
  flex: 0 0 auto;
  width: 100%;

  @include media.tablet-portrait {
    width: auto;
  }
}

.createAccount,
.oldLink {
  @extend %title-7;
  align-items: center;
  color: var(--theme-text-color);
  display: flex;

  @include media.tablet-portrait {
    justify-content: flex-end;
  }
}

.createAccount a,
.oldLink a {
  color: var(--color-cyan-50);
  text-decoration: none;

  &:hover {
    color: var(--color-cyan-70);
  }
}

.oldLink {
  margin-top: functions.calc-rem(16);
}

.copyright {
  @extend %title-7;
  align-items: center;
  color: var(--color-grey-60);
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  @include media.tablet-portrait {
    justify-content: flex-end;
  }
}
